<div class="widget">
  <h3 class="widget-title">Connect</h3>
  <ul>
    <li><a class="spec" href="https://www.linkedin.com/in/vedic-partap/" alt="LinkedIn" target="_blank" onclick="trackOutboundLink('https://www.linkedin.com/in/vedic-partap/?loc=sidebar');">Linkedin</a></li>
    <li><a class="spec" href="https://github.com/vedic-partap" alt="Github" target="_blank" onclick="trackOutboundLink('https://github.com/vedic-partap?loc=sidebar');">Github</a></li>
    <li><a class="spec" href="https://speakerdeck.com/herculan" alt="Speaker Deck" target="_blank" onclick="trackOutboundLink('https://speakerdeck.com/herculan?loc=sidebar');">Speaker Deck</a></li>
    <li><a class="spec" href="mailto:me@vedicpartap.com" alt="email" target="_blank" onclick="trackOutboundLink('mailto:me@vedicpartap.com');">Email</a></li>
  </ul>
</div>
